
footer {
 margin-top:570px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom:0px;
  background-color:#1e0f24;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
footer div{
height:40px;
margin-top:8px;
font-size:20px;
align:center;
color:blue;
}
footer div a{
margin-top:2px;
margin-bottom:2px;
color:red;
}
.navbar {
	background-color: #1e0f24;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}