{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/c08a1bc374.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <title>Sign-In</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  </head>
  <body style="background:url('https://image.freepik.com/free-photo/colored-street-food-blue-background_23-2147802652.jpg')no-repeat;background-size:cover;">

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Eat24x7</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{%url 'home'%}">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{%url 'signup'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="login-page" >
      <div class="form">
        <div class="login">
          <div class="login-header" >
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
      <form method="POST" class="login-form">
        {% csrf_token %}
        <input type="text" class="username" name="username" id="username" placeholder="Enter username" required/><br />
        <input type="password" class="pass1" name="pass1" id="pass1" placeholder="Enter password" required/><br />

        <a href="" class="forgot">Forgot Password?</a><br><br>

        <div class="submit">
          <button class="btn-primary" >Login</button>
        </div>
           <p>
        Don't have an account?
        <a href="{% url 'signup' %}">Create an account</a>.
      </p>
<!--      <div class="fb">-->
<!--        <a href=""><button><i class="fa-brands fa-square-facebook"></i>Login with Facebook</button></a>&nbsp&nbsp&nbsp<a href=""><button><i class="fa-brands fa-google"></i>Login with Google</button></a>&nbsp&nbsp&nbsp<a href=""><button><span class="bi bi-github"></span>Login with HitHub</button></a>-->
<!--      </div>-->
      </form>

    </div>
</div>
  </body>
<footer>
  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Eat24x7</a>
  </div>
  <!-- Copyright -->
</footer>
</html>